<div class="content">
  <ion-title text-center>פארקור</ion-title>
  <ion-card text-center class="custom">
    <p class="font_8" dir="rtl"><span class="color_33">מה הוא 'פארקור'?</span>&nbsp;פארקור היא אמנות תנועה ושיטת אימון
      אשר פותחה והתבססה על מסלולי מכשולים צבאיים.</p>
    <p class="font_8" dir="rtl">מטרת המתאמנים היא לדעת להגיע מנקודה אחת לשניה בצורה אפקטיבית תוך התגברות על מכשולים על
      ידי שימוש בגופם בלבד. המתרגלים בשיטה, מתאמנים על מנת לעבור מכשולים אורבנים וטבעיים כגון: חומות, גדרות, מעקים
      וסלעים על ידי טיפוס, ניתור, ריצה, הליכה על ארבע, תרגילי נחיתה ותרגילים נוספים אשר יכולים לשמש את
      המתאמנים&nbsp;להתגברות על מכשולים באופן אפקטיבי.</p>
    <p class="font_8" dir="rtl">&nbsp;</p>
    <p class="font_8" dir="rtl">הפארקור התפתח בצרפת בסוף שנות ה80 על ידי דויד בל (David Belle) בהשראת אביו ריימונד.
      המושג ״פארקור״(parcour) משמעותו ״דרך״ או ״מסלול״ בצרפתית.</p>
    <p class="font_8" dir="rtl">המתאמנים בפארקור נקראים&nbsp;טרייסרים&nbsp;(trac&eacute;ur)&nbsp;שפירושו נותב/עוקב.
      במושגים אלו השתמשה קבוצת ימקאסי&nbsp;(Yamakasi) שהייתה הקבוצה הראשונה של מתאמני פארקור והורכבה מדויד בל, סבסטיאן
      פוקאן, יאן הינאטרה, לורן פימונטסי, מאליק דיוף, צ'ארלס פרייר, צ'או בל, וויליאם בל וגילווין
      בויקה.<br /><br />הפארקור שואב השראה&nbsp;משיטות האימון של ג׳ורג׳ הבר (Georges H&eacute;bert),&nbsp;קצין בחיל הים
      הצרפתי שעסק בחינוך גופני ושירת בזמן מלחמת עולם הראשונה והשניה. באחד ממסעותיו של הבר לאפריקה הבחין ביכולת הגופנית
      של תושבי הכפריים המקומיים: ״גופם היה יותר ממדהים, גמיש, זריז, מיומן, עמיד במטלות רציפות כאשר כל זאת רכשו בצורה
      טבעית ממחייתם בתנאי טבע ללא הוראה מסודרת״.&nbsp;הבר גיבש את יכולתיהם למתודיקת אימון אשר מבוססת על פעילות תנועתית,
      טבעית ולא תחרותית תחת המוטו</p>
    <p class="font_8" dir="rtl">&nbsp;"&ecirc;tre fort pour &ecirc;tre utile"&nbsp;(להיות חזק כדי להיות שימושי).</p>
    <p class="font_8" dir="rtl"><span class="wixGuard">​</span></p>
    <p class="font_8" dir="rtl">הפופולאריות של הפארקור החלה בסוף שנות ה90 ותחילת שנות ה2000 דרך&nbsp;סרטים תיעודיים
      והשתתפות המייסדים בסרטים הוליוודים. בעקבות היפרדותם של חברי הימקאסי, התפתחו שיטות נוספות תחת פארקור
      בשם&nbsp;אומנות התנועה (L'art du deplacement) וריצה חופשית (FreeRunning).</p>
    <p class="font_8" dir="rtl">הגבולות בין השיטות לעיתים אינן ברורים ולכן כיום היחס לפארקור, אומנות התנועה, וריצה
      חופשית הוא יחס של מילים נרדפות.</p>
    <p class="font_8" dir="rtl"><span class="wixGuard">​</span></p>
    <p class="font_8" dir="rtl">דויד בל משתף את מחשבותיו בנוגע לפארקור: ״ אני לא יכול לדבר על פארקור מבלי להזכיר את אבא
      שלי (ריימונד בל Raymond Belle). הוא שנתן לי השראה לרדוף אחרי חלומותי. בלעדיו מעולם לא הייתי מייסד את הפארקור.
      פארקור היא שיטת אימון אשר מאפשרת לנו להתגבר על מכשולים, באיזורים אורבניים וטבעיים. אנחנו מאמנים נשק
      בהסוואה,&nbsp;על מנת כשנתקל בבעיה נדע להתמודד איתה בעזרת הפארקור. לצורך בריחה, רדיפה, עזרה למישהו בבעיה ולכל דבר
      שהוא יוצא מן הכלל״.</p>
  </ion-card>
</div>