  <!--
      <div *ngIf='uAuth.auth.currentUser != null'>
    <ion-button (click)='write()'>new post</ion-button>
    <ion-item>
      <ion-label>All posts</ion-label>
      <ion-radio value="allPosts" checked></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>My posts</ion-label>
      <ion-radio value="myPosts"></ion-radio>
    </ion-item>
  </div>
-->
<ion-content>
  <div class="content">
    <h2>News</h2>
  <ion-grid>
    <div class="newPost" [hidden]="!isUser()">
    <ion-row *ngIf='lang()'>
        <ion-col size='12' size-md=3>
          <ion-card color="white">
            <ion-col (ionChange)="radioButtonEvent($event)">
              <div class="btn-wrapper">
                <ion-button color="pi" (click)='write()'>new post</ion-button>
              </div>
              <hr class="hr">
              <br><br>
              <ion-radio-group>
                <ion-list>
                    <h4>Sort by:</h4>
                  <ion-item >
                    <ion-label>All posts</ion-label>
                    <ion-radio color="pi" value="allPosts" checked></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>My posts</ion-label>
                    <ion-radio color="pi" value="myPosts"></ion-radio>
                  </ion-item>
                </ion-list>
              </ion-radio-group>
            </ion-col>
          </ion-card>
        </ion-col>
      </ion-row>
  

      <ion-row *ngIf='!lang()'>
          <ion-col size='12' size-md=3>
            <ion-card color="white">
              <ion-col (ionChange)="radioButtonEvent($event)">
                <div class="btn-wrapper">
                  <ion-button (click)='write()'>יצירת פוסט חדש</ion-button>
                </div>
                <hr>
                <ion-radio-group>
                  <ion-list>
                      <h4>סינון לפי:</h4>
                    <ion-item>
                      <ion-label>כל הפוסטים</ion-label>
                      <ion-radio color="pi" value="allPosts" checked></ion-radio>
                    </ion-item>
                    <ion-item>
                      <ion-label>הפוסטים שלי</ion-label>
                      <ion-radio color="pi" value="myPosts"></ion-radio>
                    </ion-item>
                  </ion-list>
                </ion-radio-group>
              </ion-col>
            </ion-card>
          </ion-col>
        </ion-row>
    
      </div>

    <ion-row class="center-row" *ngFor='let m of messagesView'>
      <ion-col size='12' size-md=6>
        <app-post-bubble [data]='m'></app-post-bubble>
      </ion-col>
    </ion-row>


    <ion-row class="center-row">
        <ion-col size='12' size-md=6>
          <ion-button color="pi" *ngIf='more' (click)='viewMore()'>more</ion-button>
        </ion-col>
      </ion-row>

  </ion-grid>
</div>
</ion-content>
