h6 {
    padding: 0px;
    margin: 0px;
}

ion-grid {
    flex-direction: column;
    justify-content: flex-end;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    border-top-width: thick;
    border-top-style: solid;
    background-color:rgba(89, 158, 252, 0.79);
 }