h6 {
    padding: 0px;
    margin: 0px;
}

ion-grid {
    flex-direction: column;
    justify-content: flex-end;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    border-top-width: thin;
    border-top-style: solid;
 }

ion-input{
    border: 2px solid;
    border-radius: 25px;
}

