  
  .content{
    height: 92%;
     overflow-y: auto;
   }

h6 {
    padding: 0px;
    margin: 0px;
}

ion-grid {
    flex-direction: column;
    justify-content: flex-end;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 4%;
    width: 100%;
    color: black;
    text-align: left;
    border-top-width: thin;
    border-top-style: solid;
 }

ion-input{
    border: 2px solid;
    border-radius: 25px;
}
.temp{
    margin-top:1000px;
}

.center-row {
    display: flex;
    justify-content: center;
  }

.btn-wrapper {
    text-align: center;
}

ion-card {
    padding: 5%;


}

  
