<ion-header>
  <ion-toolbar>
    <ion-title>
      Parkour Israel WebSite
    </ion-title>
  </ion-toolbar>
</ion-header>


<nav>
  <a href="#"> Home </a> 
  <a routerLink='/news'> News </a>
  <a href="#"> Contact </a>
  <a href="#"> Help </a>
  <a routerLink='/login'>Login</a>
  <a id ="manager" href="#"> Manage </a>
</nav>
    


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-button routerLink='/login'>Login</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>






