ion-list-header
{
    background-color: lightgrey;
}

ion-icon
{
    background-color: transparent;
}

.title {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.center-row {
    display: flex;
    justify-content: center;
}

.trash:hover {
    color: red
}
  .content{
    height: 93%;
     overflow-y: auto;
   }