<div class="content">
  <ion-grid>
    <ion-row class='center-row'>
      <ion-col size='12' size-md='2'>
        <ion-item>
          <ion-label id= "firstName" position="floating">First name</ion-label>
          <ion-input #firstName></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size='12' size-md='2'>
        <ion-item>
          <ion-label id= "lastName" position="floating">Last Name</ion-label>
          <ion-input #lastName></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class='center-row'>
        <ion-col size='12' size-md='4'>
        <ion-item>
          <ion-label  position="floating">Username </ion-label>
          <ion-input #userName (ionBlur)="CheckUsername()"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-button (click) = "changeShowPassword()" #changeButton>
      Change Password
   </ion-button>
 
    <ion-row class='center-row' *ngIf = "showPassword">
      <ion-col size='12' size-md='2'>
        <ion-item>
          <ion-label id= "password" position="floating">Password </ion-label>
          <ion-input type='password' #password></ion-input>
        </ion-item>
      </ion-col>
    
        <ion-col size='12' size-md='2'>
        <ion-item>
          <ion-label id= "confirm" position="floating">Confirm</ion-label>
          <ion-input type='password' #confirm></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    

    

    <ion-row class='center-row'>
      <ion-col text-center>
        <ion-button (click)='update()'>Save</ion-button>
        
      </ion-col>
    </ion-row>

  </ion-grid>
</div>