<div class="content">
  <ion-content>
    <br>
  <ion-grid>
    <ion-row class="center-row">
        <ion-avatar>
          <ion-img #avatar></ion-img>
        </ion-avatar>
    </ion-row>
    <ion-row>
      <ion-col size="0.5" offset="6.25">
        <input type="file" accept="image/*" capture="camera" (change)="fileChangeEvent($event)" id="fileInput" hidden/>
        <label for="fileInput" icon-only ion-button>
          <ion-icon class="editIcon" name="create"></ion-icon>
        </label>
      </ion-col>
      <ion-col  class="removeBtn" size="0.5">
        <ion-button fill="#fff" color="dark" size="small" (click)="removeAvatar()">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <br><br>
    <ion-row class='center-row'>
      <ion-col text-center size='12' size-md='2'>
        <ion-item>
          <ion-label id= "firstName" position="floating">First name</ion-label>
          <ion-input #firstName></ion-input>
        </ion-item>
      </ion-col>

      <ion-col text-center size='12' size-md='2'>
        <ion-item>
          <ion-label id= "lastName" position="floating">Last Name</ion-label>
          <ion-input #lastName></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class='center-row'>
        <ion-col text-center size='12' size-md='4'>
        <ion-item>
          <ion-label  position="floating">Username </ion-label>
          <ion-input #userName (ionBlur)="CheckUsername()"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class='center-row'>
        <ion-col text-center>
          <ion-button (click)='update()'>Save</ion-button>
          
        </ion-col>
      </ion-row>

    <br><br><br>

    <ion-row class='center-row'>
        <ion-col text-center size='12' size-md='2'>
    <ion-button (click) = "changeShowPassword()" #changeButton>
      Reset Password
   </ion-button>
  </ion-col>
  </ion-row>
 
    <ion-row class='center-row' *ngIf = "showPassword">
      <ion-col text-center size='12' size-md='2'>
        <ion-item>
          <ion-label id= "password" position="floating">Password </ion-label>
          <ion-input type='password' #password></ion-input>
        </ion-item>
      </ion-col>
    
        <ion-col text-center size='12' size-md='2'>
        <ion-item>
          <ion-label id= "confirm" position="floating">Confirm</ion-label>
          <ion-input type='password' #confirm></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
</div>
