  
  .content{
    height: 93%;
     overflow-y: auto;
   }

   .center-row {
    display: flex;
    justify-content: center;
  }

.editIcon:hover{
  cursor: pointer;
}

.removeBtn{
  margin: -4px;
  padding: 0px;
}