<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<nav>
  <a href="#"> Home </a> 
  <a routerLink='/news'> News </a>
  <a href="#"> Contact </a>
  <a href="#"> Help </a>
  <a id ='btnLogin'  (click)='login()'>Login</a>
  <a id ='manager'  routerLink = "/manager"> Manage </a>
</nav> -->

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col size='3' offset='4.5'>
        <ion-item>
          <ion-label position="floating">Email or Username</ion-label>
          <ion-input #email (ionBlur)="CheckEmail()"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size='3' offset='4.5'>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [type]="passwordType" clearOnEdit="false" #password></ion-input>
          <ion-icon [hidden]='isPasswordInEmpty()' slot='end' [name]="passwordIcon"
            class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size='3' offset='4.5'>
        <ion-button expand="block" (click)='signInUser()'>Login</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-text text-center>
    <h6> <a routerLink='/signup'> Don't have an account? Register here. </a></h6>
  </ion-text>

  <hr class="hr-text" data-content="OR">

  <ion-grid>

    <ion-row>
      <ion-col size='3' offset='4.5'>
        <ion-button color="facebook" expand="block" (click)="loginAction();">Login with Facebook </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size='3' offset='4.5'>
        <!-- <ion-button expand="block" (click)="b()">test</ion-button> -->
        <ion-button class="google-btn" color="google" expand="block" (click)="googlelogin()">Login with Google
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>