<div class="content">  
  <ion-grid>
      <img class="center" src="https://firebasestorage.googleapis.com/v0/b/parkour-israel.appspot.com/o/logo%2Flogo.png?alt=media&token=09a5eb4c-3c53-4640-ab03-cd3f15d5b4e3">
      <br>
      <ion-row class="center-row">
          <ion-col size='12' size-md=8>
              <p *ngIf='lang()'>'Parkour Israel' is a non-profit organisation that targets the promotion and
                  improvment of the Parkour discipline in Israel.
                  Founded by Israels' most experienced practitioners and aims to be a home
                  to the Israeli Parkour community, and an address to the people inside and outside of the community.
              </p>
              <p *ngIf='!lang()'>עמותת 'פארקור ישראל' היא ארגון ללא כוונות רווח השמה לעצמה כמטרה את קידום ענף הפארקור בישראל.
                      העמותה נוסדה ע"י וותיקי הענף בארץ כדי להוות בית לקהילת הפארקור בישראל, כתובת ומענה לאנשי הקהילה ומחוץ לה לענף הפארקור.
                  </p>
          </ion-col>
      </ion-row>
      <ion-row class="center-row" *ngIf='lang()'>
          <ion-col size='12' size-md=10>
              <h3><u>Our goals:</u></h3>
              <ol>
                  <li>The organisation will constitute a house to the community of Parkour Israel,
                      address and response to the people of the community and from outside her to
                      the Parkour Israel's branch.</li>
                  <li>Advancement of Parkour Israel's branch in:</li>
                  <ol style="list-style-type: lower-alpha">
                      <li>Installation of training facilities to the community, parks and auditoriums.</li>
                      <li>Events and shows to the community such as meetings, competitions and conferences.</li>
                      <li>From element of the branch in Israel : The creation of training and the authority,
                          legislation and settlements to circumcise the authorities.</li>
                  </ol>
                  <li>Representation of Parkour Israel's branch in the country</li>
                  <li>Representation Parkour Israel's branch abroad.</li>
                  <li>Hngsha and an assimilation of information to the right,
                      efficient sure exercises to the community of that exercise in Israel.</li>
                  <li>The increase of the awareness to the branch and improvement Tdmito
                      as bodily legitimate recommended activity to the wide public.</li>
                  <li>Combination of the branch in the education of the youth.</li>

              </ol>
          </ion-col>
      </ion-row>
  
  
      <ion-row class="center-row" *ngIf='!lang()'>
              <ion-col size='12' size-md=10 style="text-align: right;">
                    <p class="font_7" dir="rtl"><span style="font-size: 16pt;"><strong>מטרות העמותה:</strong></span></p>
                    <p class="font_7" dir="rtl">א. העמותה תהווה בית לקהילת הפארקור בישראל, כתובת ומענה לאנשי הקהילה ומחוץ לה<br />לענף הפארקור.<br />ב. קידום ענף הפארקור בישראל בנושאים:<br />&nbsp; &nbsp; &nbsp;1.הקמת מתקני אימון לקהילה, פארקים ואולמות.<br />&nbsp; &nbsp; &nbsp;2. ביצוע אירועים ומופעים לקהילה כגון מפגשים, תחרויות וכינוסים.<br />&nbsp; &nbsp; &nbsp;3. מיסוד הענף בישראל: יצירת הדרכות והסמכות, חקיקה והסדרים למול הרשויות.<br />ג. ייצוג ענף הפארקור בארץ ישראל.<br />ד. ייצוג מדינת ישראל בענף הפארקור בחו"ל.<br />ה. הנגשה והטמעת מידע לאימונים נכונים, יעילים ובטוחים לקהילת המתאמנים בישראל.<br />ו. העלאת המודעות לענף ושיפור תדמיתו כפעילות גופנית לגיטימית ומומלצת לציבור הרחב.<br />ז. שילוב הענף בחינוך הנוער.</p>
                    <p class="font_7" dir="rtl"><span class="wixGuard">​</span></p>
                    <p class="font_7" dir="rtl"><span style="font-size: 16pt;"><strong>ענפי פעילות</strong></span></p>
                    <p class="font_7" dir="rtl">א. מתקנים -&nbsp;העמותה יוזמת, מייעצת ומקדמת מתקני אימון סגורים ופתוחים בכל הארץ מתוך ההבנה כי מתקן אימון מהווה בית לקהילה מקומית.</p>
                    <p class="font_7" dir="rtl">ב. אירועים&nbsp;- העמותה מקיימת אירועים הדרכתיים וחברתיים לקהילת המתאמנים בארץ כדי לגבש ולהעשיר את קהילת המתאמנים.</p>
                    <p class="font_7" dir="rtl">ג. הדרכה -&nbsp;העמותה פועלת למיסוד הדרכה ראויה לפארקור, כדי לשמר את הערכים, הפילוסופיה ועקרונות האימון המקוריים כפי שנוצרו על ידי מייסדי הפארקור.</p>
                    <p class="font_7" dir="rtl">ד. הסברה -&nbsp;העמותה פועלת לשיפור ותיקון תדמית הפארקור בארץ ישראל.</p>
              </ion-col>
          </ion-row>
  
          <br><br>
  
          <ion-row class="center-row">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/TeV10LwQ1tk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </ion-row>
  
          <br><br>
  
          <ion-row class="center-row">
              <ion-col size="3" size-md="2" size-lg="1">
                  <ion-button class="fbButton" expand="block" fill="clear" href="https://www.facebook.com/israelparkour/" target="_blank">
                      <ion-icon class="icon" name="logo-facebook"></ion-icon>
                  </ion-button>
              </ion-col>
  
              <ion-col size="3" size-md="2" size-lg="1">
                  <ion-button class="ytButton" expand="block" fill="clear" href="https://www.youtube.com/channel/UCA5dGaF46R51j3dhP6nkUEQ">
                      <ion-icon class="icon" name="logo-youtube"></ion-icon>
                  </ion-button>
              </ion-col>
  
              <ion-col size="3" size-md="2" size-lg="1">
                  <ion-button class="instaButton" fill="clear" expand="block" href="https://www.instagram.com/parkourisraelnpo/">
                      <ion-icon class="instaIcon" name="logo-instagram"></ion-icon>
                  </ion-button>
              </ion-col>
          </ion-row>
      
  </ion-grid>
  </div>