*{
  background-color: #f0f0f0;
}
 .right
{
   float: right;
} 


a{
  text-align:center ;
}
.username{
  float: left;
  display: inline-flex;
  padding: 14px 16px;
  text-align:center ;

}

ul {
 
  list-style-type: none;
  margin-left: -1%;
  margin-right: -1%;
  border-bottom: 100px;
    /* border-bottom: 5px; */


  overflow: hidden;
  /* font-size: 120%; */
  background-color:rgba(89, 158, 252, 0.788);
  /* background-color: #333; */
}


li {
  float: left;
}

li a, .dropbtn {
  display: inline-flex;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(255, 128, 0);
  /* border-bottom: 2px solid rgba(255, 0, 0, 0.644); */
    transition:1s;
    cursor:pointer;
}

li.dropdown {
  display: inline-block;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 6% 6%;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #b6b3b3;}

.dropdown:hover .dropdown-content {
  display: block;
}


.my-custom-menu {
  --width: 500px;
}


.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
mat-sidenav {
  width: 200px;
}

.nav{
  width: 100%;
  margin-left: 0%;
  
}

.nav-right li{
  float: right;
}

.nav-left li{
  float: left;
}

.Desktop-view{
  overflow: hidden;
}

