<ion-header>
    <ion-toolbar>
      <ion-title>
        Parkour Israel WebSite
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <nav table>
    <div class = "left">
      <a  routerLink = "/home"    routerLinkActive = "active"> Home </a> 
      <a  routerLink = "/news"    routerLinkActive = "active"> News </a>
      <!-- <a  routerLink = "/contact"  routerLinkActive = "active"> Contact </a> -->
      <!-- <a  routerLink = "/help"    routerLinkActive = "active"> Help </a> -->
      <a  routerLink = "/info"    routerLinkActive = "active"> Info </a>
      <a id ='manager' routerLink = "/manager" routerLinkActive="active"> Manage </a>
    </div>
    <div class="right"> 
        <table>
            <tr>
                    <td>
                        <h5 id = 'loginNickName' >Welcome </h5>
                    </td>
                    <td><a id ='btnLogin'  (click)='login()'><h6>Login</h6></a></td>
                  </tr>
        </table>
    
    </div>
  </nav>

  <div >
  <router-outlet> 
  </router-outlet>
</div>

  <!-- <ion-footer>
      <ion-toolbar>
        <h6  slot='start'>Message:</h6>
        <input  (keyup)='onKeyUp($event)' #messageField></input> 
        <ion-button  [disabled]='isMessageInvalid()' slot='end' (click)='sendMessage()' >Send</ion-button> 
       </ion-toolbar>
    </ion-footer> -->