
<!-- website on Desktop -->

<ion-content  *ngIf="!isMobile()">
 <navbar></navbar>
  <router-outlet></router-outlet>
</ion-content>


<!-- website on mobile -->
<!-- side menu -->
<ion-app *ngIf="isMobile()">
  <ion-content>

    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title #titlePage>
          Home
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- <ion-split-pane size="12"> -->
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title float="left">Menu</ion-title>
          <ion-buttons slot="end" float="left">
            <ion-menu-button auto-hide></ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-router-outlet main></ion-router-outlet>
    </ion-menu>
    <router-outlet></router-outlet>
    <!-- </ion-split-pane> -->
  </ion-content>
</ion-app>