<nav class="nav"> 
  <ul>
<!-- english mode -->
    <div *ngIf='lang()' class="nav-left">
      <li> <a routerLink="/home" routerLinkActive="active"> Home </a> </li>
         <li class="dropdown">
        <a class="dropbtn" routerLink="/info" routerLinkActive="active"> Info<ion-icon name="arrow-dropdown"></ion-icon></a>
        <ul class="dropdown-content">
          <a *ngFor='let item of items' [routerLink]="item.url" routerLinkActive="active">{{item.nameEn}}</a>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropbtn">Maps <ion-icon name="arrow-dropdown"></ion-icon></a>
        <ul class="dropdown-content">
          <a *ngFor='let map of allMaps' (click)='maps(map)'>{{map.titleEn}}</a>
        </ul>
      </li>
     
      <li> <a routerLink="/news" routerLinkActive="active"> News </a></li>
      <li> <a routerLink="/contact" routerLinkActive="active"> Contact </a></li>

      <li class="dropdown">
          <a class="dropbtn">Language  <ion-icon name="arrow-dropdown"></ion-icon></a>
          <ul class="dropdown-content">
              <a *ngFor='let lan of languages' (click)='language(lan)' >{{lan.name}}</a>
          </ul>
        </li>
    </div>
<!-- hebrew mode -->
    <div *ngIf='!lang()' class="nav-right">
      <li> <a routerLink="/home" routerLinkActive="active"> ראשי </a> </li>
      <!-- <li><a routerLink="/info" routerLinkActive="active">מידע</a></li> -->
      <li class="dropdown">
          <a class="dropbtn" routerLink="/info" routerLinkActive="active"> <ion-icon name="arrow-dropdown"></ion-icon>מידע</a>
          <ul class="dropdown-content">
            <a *ngFor='let item of items' [routerLink]="item.url" routerLinkActive="active">{{item.nameHeb}}</a>
          </ul>
        </li>
      <li class="dropdown">
        <a class="dropbtn"><ion-icon name="arrow-dropdown"></ion-icon>מפות</a>
        <ul class="dropdown-content">
          <a *ngFor='let map of allMaps' (click)='maps(map)'>{{map.titleHeb}}</a>
        </ul>
      </li>
      <li> <a routerLink="/news" routerLinkActive="active"> חדשות ועדכונים </a></li>
      <li> <a routerLink="/contact" routerLinkActive="active">צור קשר</a></li>
     
      <li class="dropdown">
          <a class="dropbtn"> <ion-icon name="arrow-dropdown"></ion-icon> שפה</a>
          <ul class="dropdown-content">
            <a *ngFor='let lan of languages' (click)='language(lan)' >{{lan.name}}</a>
          </ul>
        </li>
    </div>
<!-- english mode -->
    <div *ngIf='lang()' class="nav-right">
      <li >
          <ion-item *ngIf="isUser()">
              <ion-avatar slot="start">
                <img src="https://firebasestorage.googleapis.com/v0/b/parkour-israel.appspot.com/o/images%2Favatar.jpg?alt=media&token=ec1dfd38-fa0d-4f73-a953-51e2c7756f5f">
              </ion-avatar>
            </ion-item>
      </li>
      <li class="dropdown">
        <a #loginNickName class="dropbtn">Welcome</a>
        <ul class="dropdown-content">
          <a #username routerLink="/edit-informations" routerLinkActive="active" *ngIf="isUser()">Profile</a>
          <a routerLink="/manager" routerLinkActive="active" *ngIf="getManager()">Manager</a>
          <a #user (click)="login()">Login</a>
        </ul>
        </li>
    </div>
<!-- hebrew mode -->
    <div *ngIf='!lang()' class="nav-left">
      <li class="dropdown">
        <a #loginNickName class="dropbtn">ברוך הבא</a>
        <ul class="dropdown-content">
          <a #username routerLink="/edit-informations" routerLinkActive="active" *ngIf="isUser()">איזור אישי</a>
          <a routerLink="/manager" routerLinkActive="active" *ngIf="getManager()">מנהל</a>
          <a #user (click)="login()">כניסה</a>
        </ul>
      </li>
    </div>
  </ul>
</nav>