<ion-content>
    <ion-grid>
        <ion-row class="center-row">
            <ion-col size='12' size-md=4>
                <h2>About us</h2>
            </ion-col>
        </ion-row>
        <ion-row class="center-row">
            <ion-col size='12' size-md=4>
                <p>'Parkour Israel' is a non-profit organisation that targets the promotion and 
                    improvment of the Parkour discipline in Israel.
                    Founded by Israels' most experienced practitioners and aims to be a home 
                    to the Israeli Parkour community, and an address to the people inside and outside of the community.
                </p>
            </ion-col>
        </ion-row>
        <ion-row class="center-row">
            <ion-col size='12' size-md=4>
                <h3><u>Our goals:</u></h3>
                <ol>
                    <li>The organisation will constitute a house to the community of Parkour Israel, 
                        address and response to the people of the community and from outside her to 
                        the Parkour Israel's branch.</li>
                    <li>Advancement of Parkour Israel's branch in:</li>
                    <ol style="list-style-type: lower-alpha">
                        <li>Installation of training facilities to the community, parks and auditoriums.</li>
                        <li>Events and shows to the community such as meetings, competitions and conferences.</li>
                        <li>From element of the branch in Israel : The creation of training and the authority, 
                            legislation and settlements to circumcise the authorities.</li>
                    </ol>
                    <li>Representation of Parkour Israel's branch in the country</li>
                    <li>Representation Parkour Israel's branch abroad.</li>
                    <li>Hngsha and an assimilation of information to the right, 
                        efficient sure exercises to the community of that exercise in Israel.</li>
                    <li>The increase of the awareness to the branch and improvement Tdmito 
                        as bodily legitimate recommended activity to the wide public.</li>
                    <li>Combination of the branch in the education of the youth.</li>
                </ol>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
