.content{
  height: 91%;
   overflow-y: auto;
 }
.center-row {
    display: flex;
    justify-content: center;
  }

   

   .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .instaButton{
    background: linear-gradient(to bottom left, #FCC246, #FF9D48, #FF5B42, #FE193F, #FF1D65, #E62193, #CC25B1, #A030C3, #5E40DC);
    color: white;
    border-radius: 4px;
  }
  
  @media(min-width: 320px) and (max-width: 480px){
    .center{
      height: 150px;
      width: 153px
    }
  }
  
  @media(min-width: 481px) and (max-width: 767px){
    .center{
      height: 200px;
      width: 204px;
    }
  }
  
  @media(min-width: 768px) and (orientation: landscape){
    .center{
      height: 250px;
      width: 255px;
    }
  }