@mixin horizontal-gradient($from, $to, $stop: 100%) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, $from 0%, $to $stop);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, top left, bottom right, color-stop(0%, $from), color-stop($stop, $to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, $from 0%, $to $stop);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient(top, $from 0%, $to $stop);

  /* IE10+ */
  background: -ms-linear-gradient(top, $from 0%, $to $stop);

  /* Standard */
  background: linear-gradient(to bottom, $from 0%, $to $stop);

  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}


.content{
  height: 91%;
  overflow-y: auto;
  @include horizontal-gradient(#F3EBDB, #FFFFFF)

 }
 
.center-row {
    display: flex;
    justify-content: center;
  }

   

   .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  @media(min-width: 1024px){
    .instaIcon{
      background: linear-gradient(to bottom left, #FCC246, #FF9D48, #FF5B42, #FE193F, #FF1D65, #E62193, #CC25B1, #A030C3, #5E40DC);
      color: white;
      font-size: 40px;
    }
  
    .fbButton{
      color:  #3C5A99;
      //font-size: 20px;
    }
  
    .ytButton{
      color: #E62117;
      //font-size: 20px;
    }
    
    .icon{
      font-size: 50px;
    }
  }


  @media(min-width: 0px) and (max-width: 1023px){
  .instaIcon{
    background: linear-gradient(to bottom left, #FCC246, #FF9D48, #FF5B42, #FE193F, #FF1D65, #E62193, #CC25B1, #A030C3, #5E40DC);
    color: white;
    font-size: 40px;
  }

  .fbButton{
    color:  #3C5A99;
  }

  .ytButton{
    color: #E62117;
  }
  
  .icon{
    font-size: 50px;
  }
}

  @media(min-width: 320px) and (max-width: 480px){
    .center{
      height: 150px;
      width: 153px
    }
  }
  
  @media(min-width: 481px) and (max-width: 899px){
    .center{
      height: 200px;
      width: 204px;
    }
  }
  
  @media(min-width: 900px){
    .center{
      height: 250px;
      width: 255px;
    }
  }