.welcome-card {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.close {
    cursor: pointer;
    float: right;
}
    
.image{
  max-width:300px;
  max-height: 300px;
  float: right;
}

.content_block {
  display: flex;
 
}

  .content{
    height: 93%;
     overflow-y: auto;
   }