<ion-card class="welcome-card" #post>
  <ion-button class="close">&#9776;</ion-button>
  <p></p>
  
  <div class="content_block">
    <ion-col size = 8>
      <div class="text_block">
        <ion-card-header>
          <ion-card-title>{{data.title}}</ion-card-title>
          <ion-card-subtitle>{{data.content}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content [ngStyle]='{"color": getContentColor(from)}'>
          From {{data.from}} on {{data.show_date}}
        </ion-card-content>
      </div>
    </ion-col>
      <ion-col size = 4>
    <div class="image">
      <ion-img *ngIf="isImage()" #image ></ion-img> 
    </div>
  </ion-col>    
  </div>
