<ion-card  color="white" class="welcome-card">
    <ion-img  #img *ngIf='data.file_name!=""'></ion-img>
    <ion-card-header>
      <ion-card-title>{{data.title}}</ion-card-title>
      <ion-card-subtitle>{{data.content}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <ion-item>
            <ion-avatar slot="start">
              <img src="https://firebasestorage.googleapis.com/v0/b/parkour-israel.appspot.com/o/images%2Favatar.jpg?alt=media&token=ec1dfd38-fa0d-4f73-a953-51e2c7756f5f">
            </ion-avatar>
            From: {{data.from}} at {{data.show_date}}
          </ion-item>
      </ion-card-content>
  </ion-card>