<div class="content">

<iframe *ngIf='map1' src="https://www.google.com/maps/d/embed?mid=1zIAU9gEwIa6zZTQv7l8W_Ohbwds" width="100%" height="99%"></iframe>
<iframe *ngIf='map2' src="https://www.google.com/maps/d/u/1/embed?mid=10JjIg24Q5TZGCrLJkZFULve7lYg" width="100%" height="99%"></iframe>
<iframe *ngIf='map3' src="https://www.google.com/maps/d/u/1/embed?mid=10JjIg24Q5TZGCrLJkZFULve7lYg" width="100%" height="99%"></iframe>


<!-- <iframe src="https://www.google.com/maps/d/embed?mid=1n0hZK97ALiOO81d0_OcFpR40YNdtA2HX" width="640" height="480"></iframe> -->
</div>