<div class="content">
<h2>Contact us</h2>
<br>
 
<ion-grid>
    <ion-col size="12" size-md=4>
        <img class="center" src="https://firebasestorage.googleapis.com/v0/b/parkour-israel.appspot.com/o/logo%2Flogo.png?alt=media&token=09a5eb4c-3c53-4640-ab03-cd3f15d5b4e3">
        <br>
        <div class="container">
            <ion-item autofocus>
                <ion-input placeholder="Email or Username"></ion-input>
            </ion-item>
            <br><br>
            <ion-item>
                <ion-input placeholder="Subject"></ion-input>
            </ion-item>
            <ion-textarea rows="9" placeholder="Description"></ion-textarea>
        </div>
        <ion-button size="small" float-right>Submit</ion-button>
    </ion-col>
</ion-grid>
</div>