@mixin horizontal-gradient($from, $to, $stop: 100%) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, $from 0%, $to $stop);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, top left, bottom right, color-stop(0%, $from), color-stop($stop, $to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, $from 0%, $to $stop);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient(top, $from 0%, $to $stop);

  /* IE10+ */
  background: -ms-linear-gradient(top, $from 0%, $to $stop);

  /* Standard */
  background: linear-gradient(to bottom, $from 0%, $to $stop);

  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}


.content{
  height: 91%;
  overflow-y: auto;
  @include horizontal-gradient(#F3EBDB, #FFFFFF)

 }
.content{
 height: 91%;
  overflow-y: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

ion-grid{
  display: flex;
  justify-content: center;
}

.container{
  padding: 5%;
  border: 1px; 
  border-color: lightgray;
  border-style: solid;
  background-color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media(min-width: 320px) and (max-width: 480px){
  .center{
    height: 150px;
    width: 153px
  }
}

@media(min-width: 481px) and (max-width: 767px){
  .center{
    height: 200px;
    width: 204px;
  }
}

@media(min-width: 768px) and (orientation: landscape){
  .center{
    height: 250px;
    width: 255px;
  }
}