.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

ion-grid{
  display: flex;
  justify-content: center;
}

.container{
  padding: 5%;
  border: 1px; 
  border-color: lightgray;
  border-style: solid;
}
.content{
 height: 93%;
  overflow-y: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media(min-width: 320px) and (max-width: 480px){
  .center{
    height: 150px;
    width: 153px
  }
}

@media(min-width: 481px) and (max-width: 767px){
  .center{
    height: 200px;
    width: 204px;
  }
}

@media(min-width: 768px) and (orientation: landscape){
  .center{
    height: 250px;
    width: 255px;
  }
}