.center-row {
    display: flex;
    justify-content: center;
  }

ion-grid{
  display: flex;
  justify-content: center;
}

.container{
  padding: 5%;
  // padding-right: 5%;
  // padding-bottom: 5%; 
  border: 1px; 
  border-color: lightgray;
  border-style: solid;
}
.content{
 height: 93%;
  overflow-y: auto;
}