<ion-grid>
    <ion-row class="center-row">
        <ion-col size='12' size-md=4>
            <h2>Contact us</h2>
        </ion-col>
    </ion-row>
    <br><br><br>
    <ion-row class='center-row'>
        <ion-col size='12' size-md=4>
            <ion-item autofocus>
                <ion-input placeholder="Email or Username"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <br><br>
    <ion-row class='center-row'>
        <ion-col size='12' size-md=4>
            <ion-item>
                <ion-input placeholder="Subject"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row class='center-row'>
        <ion-col size='12' size-md=4>
            <ion-item>
                <ion-textarea rows="9" placeholder="Description"></ion-textarea>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row class='center-row'>
        <ion-button expand="block">Submit</ion-button>
    </ion-row>
</ion-grid>
