<!-- <ion-card>
  <ion-card-header>
    <ion-card-title>{{data.content}}</ion-card-title>
  </ion-card-header>
  <ion-card-content [ngStyle]='{"color": getContentColor(from)}'>
    From: {{data.from}}
  </ion-card-content>
</ion-card> -->



<ion-footer>
    <ion-toolbar>
      <ion-input  (keyup)='onKeyUp($event)' #messageField placeholder="Message" #input></ion-input> 
      <ion-button  [disabled]='isMessageInvalid()' slot='end' (click)='sendMessage()' >Send</ion-button> 
     </ion-toolbar>
    </ion-footer>