@mixin horizontal-gradient($from, $to, $stop: 100%) {
    /* fallback/image non-cover color */
    background-color: $from;
  
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(top, $from 0%, $to $stop);
  
    /* Safari 4+, Chrome 1+ */
    background-image: -webkit-gradient(linear, top left, bottom right, color-stop(0%, $from), color-stop($stop, $to));
  
    /* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient(top, $from 0%, $to $stop);
  
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(top, $from 0%, $to $stop);
  
    /* IE10+ */
    background: -ms-linear-gradient(top, $from 0%, $to $stop);
  
    /* Standard */
    background: linear-gradient(to bottom, $from 0%, $to $stop);
  
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
  }
  
  .content{
    @include horizontal-gradient(#F3EBDB, #FFFFFF)
  }
  .content{
    height: 91%;
     overflow-y: auto;
   }
.welcome-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.welcome-car .p{
    display: flex;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.uploader{
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    margin-bottom: 10px;
}

ion-grid {
    flex-direction: column;
    justify-content: flex-end;
}

.image{
    max-width:300px;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ion-radio-group {
    margin-top: -1px;
    vertical-align: middle;
  }

  :host ::ng-deep .ck-editor__editable_inline {
    min-height: 500px;
}