<ion-content>
  <ion-grid>
    <ion-card class="welcome-card">
      <ion-title>edit post </ion-title>
      <ion-img #img></ion-img>
      <ion-card>
        <ion-input (change)="fileChangeEvent($event)" type="file" accept="image/*" #fileButton></ion-input>
        <ion-button (click)="removeViewFile()">remove file</ion-button>
      </ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-textarea #messageTitleField placeholder="Title" #input></ion-textarea>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-textarea #messageContentField placeholder="text post" #input></ion-textarea>
        </ion-card-subtitle>

        <ion-radio-group (ionChange)="radioButtonEvent($event)">
          Post with:
          <ion-label>User Name </ion-label>
          <ion-radio  value="userName" checked></ion-radio>
          <ion-label> Full Name </ion-label>
          <ion-radio value="fullName"></ion-radio>
        </ion-radio-group>



      </ion-card-header>
      <ion-button [disabled]='isMessageInvalid()' slot='end' (click)='sendMessage()'>Send</ion-button>

    </ion-card>
    <br><br><br><br><br><br><br>
  </ion-grid>
</ion-content>