.welcome-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.welcome-car .p{
    display: flex;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.uploader{
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    margin-bottom: 10px;
}

ion-grid {
    flex-direction: column;
    justify-content: flex-end;
}

.image{
    max-width:300px;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ion-radio-group {
    margin-top: -1px;
    vertical-align: middle;
  }