
ion-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  .content{
    height: 93%;
     overflow-y: auto;
     background-color: rgba(180, 255, 255, 0.445);
   }

   